.profile__contain {
  text-align: center;
  margin-top: 74px;
  width: 410px;
  display: flex;
  flex-direction: column;
}

.profile__info {
  margin: 123px 0px 0px;
  display: flex;
  flex-direction: column;
}

.profile__info-text {
  display: flex;
  justify-content: space-between;
}

.profile__name {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
}

.profile__hr {
  background: #e8e8e8;
  margin: 16px 0px 17px;
}

.profile__button-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 220px;
}

.profile__button {
  background: none;
  outline: none;
  border: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #000000;
  cursor: pointer;
}

.reg__link {
  background: none;
  outline: none;
  border: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #ff3055;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .profile__contain {
    width: 100%;
    margin-top: 60px;
  }

  .profile__info {
    margin-top: 70px;
  }
  .profile__button-block {
    position: absolute;
    bottom: 30px;
    width: 100%;
    left: 0;
    margin: 0;
  }
}
