.header {
  display: flex;
  margin: 14px auto 0px;
  justify-content: space-between;
  align-items: center;
  font-family: "Inter";
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
}

.header__auth {
  display: flex;
  cursor: pointer;
  align-items: center;
}

.header__reg {
  margin-right: 30px;
}

.header__login {
  margin: auto;
}

.header__login-background {
  background: #2be080;
  border-radius: 3px;
  padding: 8px 20px;
}
