.header {
	display: flex;
	margin: 18px auto 0px;
	justify-content: space-between;
	align-items: center;
	font-family: "Inter";
	font-size: 12px;
	line-height: 16px;
	font-weight: 500;
}

.header__auth {
	display: flex;
	cursor: pointer;
	align-items: center;
	font-weight: 500;
	font-size: 14px;
	line-height: 114%;
	text-decoration: none;
	color: black;
}

.header__reg {
	margin-right: 30px;
	text-decoration: none;
	color: black;
}

.header__login {
	margin: auto;
	text-decoration: none;
	color: black;
}

.header__login-background {
	background: #2be080;
	border-radius: 3px;
	padding: 8px 20px;
}

.header__films {
	display: flex;
	margin-left: 44px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 138%;
	cursor: pointer;
}

.header__film:hover {
	font-weight: 500;
}

.header__film {
	margin-right: 16px;
	text-decoration: none;
	color: black;
}

@media screen and (min-width: 320px) {
	.header__reg {
		margin-right: 14px;

	}

	.header__auth {
		font-size: 10px;
	}
}